# Iniziamo la nostra analisi dai dati presenti nel file character_anime_works

Da qui partiremo per analizzare i vari aspetti interessanti.

In [ ]:
# importiamo il file details cos'i da poterci lavorare sopra
import pandas as pd
df = pd.read_csv('character_anime_works.csv')

In [ ]:
# esempio di come filtrare i valori di una colonna, stiamo isolando dal file i protagonisti dell'anime con id 2928
Role = df[(df['role'] == 'Main') & (df['anime_mal_id'] == 2928)] 
# con la seguente istruzione stampo a schermo i dati
Role

   anime_mal_id  character_mal_id character_name  role
0          2928              5781          Atoli  Main
1          2928                33          Haseo  Main
2          2928                32           Ovan  Main
3          2928                34          Shino  Main

Come possiamo vedere per l'anime 2928 (del quale possiamo ricavare il nome in un altro file) abbiamo 4 personaggi principali e possiamo visualizzare i loro nomi.